<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method EmployeeController.showNews -->
    <form id="filter-form">
        <label for="f1">YearsOfService</label>
        <input id="f1" type="text" name="yearsOfService"/>
        <label for="f2">Skill</label>
        <select id="f2" name="skillId">
            <option value="">All</option>
            <!-- For each skill you should have one <option> like below  -->
            <option th:each="skill:${skills}"
                    th:value="${skill.getId()}"
                    th:text="${skill.getName()}"> [skill]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <!-- EmployeeController.showAdd (Only ADMIN can see this element)-->
            <a href="/employees/add" class="add-item">
                Add
            </a>
        </th:block>

    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Skills</th>
            <th>Actions</th>
        </tr>
        <!-- For each employees you should have one <tr> like below -->
        <tr th:each="employee:${employees}" class="item">
            <td th:text="${employee.getName()}">[employees.name]</td>
            <td th:text="${employee.getEmail()}">[employees.email]</td>
            <td th:text="${employee.getType().toString()}">[employees.type]</td>
            <td>
                <!-- For each of the employee.skills show the following element-->
                <span th:each="skill :${employee.getSkills()}"
                      th:text="${skill.getName()}" class="item-rel"> [skill.name]</span>
            </td>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <td>
                    <!-- EmployeeController.delete (Only ADMIN can see this element)-->
                    <form th:method="post" th:action="@{'/employees/{id}/delete' (id=${employee.getId()})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- EmployeeController.showEdit (Only ADMIN can see this element)-->
                    <a th:href="@{'/employees/{id}/edit' (id=${employee.getId()})}" class="edit-item">Edit</a>
                </td>
            </th:block>


        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
