<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method MoviesController.showMovies -->
    <form id="filter-form">
        <label for="rating">Rating</label>
        <input id="rating" type="number" name="rating"/>
        <label for="genre">Genre</label>
        <select id="genre" name="genre">
            <option value="">All</option>
            <!-- For each genre you should have one <option> like below  -->
            <option value="[genre]" th:each="genre:${genres}" th:value="${genre}" th:text="${genre}"> [genre.name]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- MoviesController.showAdd -->
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/movies/add" class="add-item">
                Add new movie
            </a>
        </th:block>

    </div>
    <table>
        <tr>
            <th>Movie name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Votes for PCA</th>
            <th>Actions</th>
        </tr>
        <!-- For each movie you should have one <tr> like below -->
        <tr class="item" th:each="movie:${movies}">
            <td th:text="${movie.getName()}">[movie.name]</td>
            <td th:text="${movie.getDescription()}">[movie.description]</td>
            <td th:text="${movie.getRating()}">[movie.rating]</td>
            <td th:text="${movie.getGenre()}">[movie.genre]</td>
            <td th:text="${movie.getDirector().getName()}">[movie.director]</td>
            <td th:text="${movie.getVotes()}">[movie.votes]</td>
            <td>
                <!-- MoviesController.delete -->
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:method="post" th:action="@{'/movies/{id}/delete' (id=${movie.getId()})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                </th:block>

                <!-- MoviesController.showEdit -->
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:method="post" th:href="@{'/movies/{id}/edit' (id=${movie.getId()})}" class="edit-item">Edit</a>

                </th:block>
                <!-- MoviesController.vote -->
                <th:block sec:authorize="hasRole('ROLE_USER')">
                    <form th:method="post" th:action="@{'/movies/{id}/vote' (id=${movie.getId()})}">
                        <button type="submit" class="like-item">Vote for Movie</button>
                    </form>
                </th:block>

            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
